<div *ngIf="validatorService.isNotDefined(employee)" class="wrapper">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="modal-content error-wrapper container content ">
    <div class="modal-header float-right modal-response-danger">
      <strong class="modal-response-heading">Error</strong>
      <button class="modal-close-button"
              (click)="redirectToPreviousLocation()"
              aria-label="Close"><p>X</p>
      </button>
    </div>
    <div class="modal-body modal-response-body">
      <br>
      <div class="modal-response-text header">
        <h2 style="color:black">ID konnte nicht gefunden werden</h2>
      </div>
      <button class="button submit-button" (click)="redirectToPreviousLocation()">Zurück</button>
    </div>
  </div>
</div>
