<div class="wrapper">
  <div class="container login-form">
    <div class="header">
      Login
    </div>
    <div class="login-text">Willkommen beim Employee Management System.
    </div>
    <div *ngIf="error" class="login-error">
      {{ error }}
    </div>
    <form (ngSubmit)="handleSubmit()">
      <input
        [ngClass]="{'invalid-input-border': error !== ''}"
        [(ngModel)]="username"
        [ngModelOptions]="{standalone: true}"
        class="input"
        type="text"
        id="login"
        name="username"
        placeholder="Benutzername">
      <input
        [ngClass]="{'invalid-input-border': error !== ''}"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone: true}"
        class="input"
        type="password"
        id="password"
        placeholder="Passwort">
      <button class="button submit-button" type="submit">Login</button>
    </form>
  </div>
</div>
