.nav-button {
  padding: 10px 40px;
  margin-left: 5px;
  margin-right: 5px;
}

nav {
  background-color: hsl(240, 100%, 30%);
  padding: 15px;
}

.navbar-text {
  font-size: 1.25rem;
  color: white;
  font-weight:bolder;
}

.create-button {
  background-color: hsl(80, 61%, 50%);
  border: none hsl(80, 61%, 50%);
}

.create-button:hover {
  background-color: hsl(80, 61%, 65%);
  border: none hsl(80, 61%, 65%);
  color: black;
}

.logout-button {
  background-color: hsl(9, 100%, 64%);
  border: none hsl(9, 100%, 64%);
}

.logout-button:hover {
  background-color: hsl(9, 100%, 70%);
  border: none hsl(9, 100%, 70%);
  color: black;
}

.no-link {
  color: white;
text-transform: uppercase;
}

.no-link:hover {
  text-decoration: none;
}
