<app-nav></app-nav>
<div class="wrapper">
  <div class="container content">
    <h2 class="header">Einen neuen Mitarbeiter anlegen</h2>
    <div class="form">
      <div class="form-input">
        <label for="employee-firstname" class="label">Vorname: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(newEmployee.firstName)}"
               type="text"
               id="employee-firstname"
               class="input"
               [(ngModel)]="newEmployee.firstName"
               placeholder="Vorname">
      </div>
      <div class="form-input">
        <label for="employee-lastname" class="label">Nachname: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(newEmployee.lastName)}"
               type="text"
               id="employee-lastname"
               class="input"
               [(ngModel)]="newEmployee.lastName"
               placeholder="Nachname">
      </div>
    </div>

    <div class="form-input">
      <label for="employee-street" class="label">Straße: </label>
      <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(newEmployee.street)}"
             type="text"
             id="employee-street"
             class="input"
             [(ngModel)]="newEmployee.street"
             placeholder="Straße">
    </div>

    <div class="form">
      <div class="form-input">
        <label for="employee-postcode" class="label">PLZ: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isInvalidPostcode(newEmployee.postcode)}"
               type="text"
               id="employee-postcode"
               class="input"
               [(ngModel)]="newEmployee.postcode"
               placeholder="PLZ">
      </div>
      <div class="form-input">
        <label for="employee-city" class="label">Stadt: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(newEmployee.city)}"
               type="text"
               id="employee-city"
               class="input"
               [(ngModel)]="newEmployee.city"
               placeholder="Stadt">
      </div>
    </div>

    <div class="form-input">
      <label for="employee-phone" class="label">Tel: </label>
      <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(newEmployee.phone)}"
             type="text"
             id="employee-phone"
             class="input"
             [(ngModel)]="newEmployee.phone"
             placeholder="Tel">
    </div>


    <div class="button-wrapper">
      <button
        class="button submit-button"
        [ngClass]="{'disabled-button': !validatorService.isValid(newEmployee)}"
        type="button"
        [disabled]="!validatorService.isValid(newEmployee)"
        (click)="addEmployee()">Speichern
      </button>
      <button type="button" class="button submit-button" (click)="redirectToPreviousLocation()">Zurück</button>
    </div>
  </div>
</div>


