.form-input {
  display: block;
}

.label {
  color: #4db0ff;
  font-size: medium;
  font-weight: bold;
  display: block;
  margin-bottom: 0;
  margin-top: .5rem;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.disabled-button, .disabled-button:hover {
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px 5px 5px 5px;
  margin: 20px 20px 40px 20px;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
  -o-transition: all 250ms linear;
  transition: all 250ms linear;
  background-color: hsl(210, 9%, 31%);
  border: none;
}

.modal-response-danger {
  background-color: darkred;
}

.modal-response-heading {
  font-family: sans-serif;
  color: white;
  margin-top: 0.1rem;
}

.modal-close-button {
  background: darkred;
  color: #f8f9fa;
  border: 0;
  border-radius: 5px;
}

.modal-response-body {
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: normal;
  flex-direction: column;
}

.modal-response-text {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  flex: 10;
  font-family: sans-serif;
  font-weight: 600;
}
