.list-button {
  padding: 10px 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.update-button {
  background-color: hsl(174, 72%, 56%);
  border: none hsl(174, 72%, 56%);
}

.update-button:hover {
  background-color: hsl(174, 100%, 60%);
  border: none hsl(174, 100%, 60%);
  color: black;
}

.delete-button {
  background-color: hsl(9, 100%, 64%);
  border: none hsl(9, 100%, 64%);
}

.delete-button:hover {
  background-color: hsl(9, 100%, 70%);
  border: none hsl(9, 100%, 70%);
  color: black;
}

.list-item-text {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  font-size: x-large;
  font-weight: bold;
  padding: .75rem;
  color: hsl(240, 100%, 27%);
}

.list-item {
  margin: 1rem;
}
.list-item:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: hsl(210, 9%, 80%);
  transition: background linear 300ms;
}

.list {
/* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: transparent;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 75%;
}

