<app-nav></app-nav>
<div *ngIf="employee" class="wrapper">
  <div class="container content">
    <h2 class="header">Mitarbeiter {{employee.firstName}} {{employee.lastName}} <span>id: </span>{{employee.id}}</h2>
    <div class="form">
      <div class="form-input">
        <label for="employee-firstname"
               class="label">Vorname:
        </label>
        <input type="text"
               id="employee-firstname"
               class="input"
               disabled [(ngModel)]="employee.firstName"
               placeholder="Vorname">
      </div>
      <div class="form-input">
        <label for="employee-lastname"
               class="label">Nachname:
        </label>
        <input
          type="text"
          id="employee-lastname"
          class="input"
          disabled
          [(ngModel)]="employee.lastName"
          placeholder="Nachname">
      </div>
    </div>

    <div class="form-input">
      <label for="employee-street"
             class="label">Straße: </label>
      <input type="text"
             id="employee-street"
             class="input"
             disabled
             [(ngModel)]="employee.street"
             placeholder="Straße">
    </div>

    <div class="form">
      <div class="form-input">
        <label for="employee-postcode"
               class="label">PLZ:
        </label>
        <input type="text"
               id="employee-postcode"
               class="input"
               disabled
               [(ngModel)]="employee.postcode"
               placeholder="PLZ">
      </div>
      <div class="form-input">
        <label for="employee-city"
               class="label">Stadt:
        </label>
        <input type="text"
               id="employee-city"
               class="input"
               disabled
               [(ngModel)]="employee.city"
               placeholder="Stadt">
      </div>
    </div>

    <div class="form-input">
      <label for="employee-phone"
             class="label">Tel:
      </label>
      <input type="text"
             id="employee-phone"
             class="input"
             disabled
             [(ngModel)]="employee.phone"
             placeholder="Tel">
    </div>


    <div class="button-wrapper">
      <button type="button"
              class="button submit-button"
              routerLink="/update/{{employee.id}}">Mitarbeiter Bearbeiten
      </button>
      <button type="button"
              class="button submit-button"
              (click)="redirectToPreviousLocation()">Zurück
      </button>
    </div>
  </div>
</div>
<app-error [employee]="employee" [location]="location"></app-error>
