<app-nav></app-nav>
<div *ngIf="employee" class="wrapper">
  <div class="container content">
    <h2 class="header">Mitarbeiter {{employee.firstName}} {{employee.lastName}} <span>id: </span>{{employee.id}}</h2>
    <div class="form">
      <div class="form-input">
        <label for="employee-firstname" class="label">Vorname: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(employee.firstName)}"
               type="text"
               id="employee-firstname"
               class="input"
               [(ngModel)]="employee.firstName"
               placeholder="Vorname">
      </div>
      <div class="form-input">
        <label for="employee-lastname" class="label">Nachname: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(employee.lastName)}"
               type="text"
               id="employee-lastname"
               class="input" [(ngModel)]="employee.lastName"
               placeholder="Nachname">
      </div>
    </div>

    <div class="form-input">
      <label for="employee-street" class="label">Straße: </label>
      <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(employee.street)}"
             type="text"
             id="employee-street"
             class="input"
             [(ngModel)]="employee.street"
             placeholder="Straße">
    </div>

    <div class="form">
      <div class="form-input">
        <label for="employee-postcode" class="label">PLZ: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isInvalidPostcode(employee.postcode)}"
               type="text"
               id="employee-postcode"
               class="input"
               [(ngModel)]="employee.postcode"
               placeholder="PLZ">
      </div>
      <div class="form-input">
        <label for="employee-city" class="label">Stadt: </label>
        <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(employee.city)}"
               type="text"
               id="employee-city"
               class="input"
               [(ngModel)]="employee.city"
               placeholder="Stadt">
      </div>
    </div>

    <div class="form-input">
      <label for="employee-phone" class="label">Tel: </label>
      <input [ngClass]="{'invalid-input-border': validatorService.isNotDefined(employee.phone)}"
             type="text"
             id="employee-phone"
             class="input"
             [(ngModel)]="employee.phone"
             placeholder="Tel">
    </div>


    <div class="button-wrapper">
      <button
        class="button submit-button"
        [ngClass]="{'disabled-button': !validatorService.isValid(employee)}"
        type="button"
        [disabled]="!validatorService.isValid(employee)"
        (click)="updateEmployee()">
        Speichern
      </button>
      <button type="button" class="button submit-button" (click)="redirectToPreviousLocation()">Zurück</button>
    </div>
  </div>
</div>

<app-error [employee]="employee" [location]="location"></app-error>

